@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
}
.banner__home {
  font-family: "Open Sans", sans-serif;
}
.banner__home .banner--slide {
  position: relative;
}
.banner__home img {
  width: 100%;
}
.banner__home .banner--contentContainer {
  position: absolute;
  bottom: 8%;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 35px 4%;
  text-align: center;
  margin: 0 4%;
  display: flex;
  flex-direction: column;
}
.banner__home p {
  text-align: left;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
}
.banner__home a {
  padding: 10px 20px;
  border: 0;
  outline: none;
  background-color: #003649;
  color: white;
  align-self: center;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}
.banner__home a:hover {
  background-color: #001922;
}
.banner__home .banner--pagination > * {
  height: 12px;
  width: 12px;
}
.banner__home .banner--pagination > .swiper-pagination-bullet-active {
  background: #008277;
}
@media screen and (min-width: 481px) {
  .banner__home .banner--contentContainer {
    margin: 0 4%;
    padding: 20px 4%;
  }
}
@media screen and (min-width: 630px) {
  .banner__home p {
    font-size: 24px;
  }
  .banner__home a {
    font-size: 28px;
  }
}
@media screen and (min-width: 769px) {
  .banner__home .banner--contentContainer {
    margin: 0 4%;
    max-width: 52%;
    padding: 25px;
    bottom: 50%;
    transform: translateY(50%);
  }
  .banner__home a {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1025px) {
  .banner__home .banner--contentContainer {
    left: 4.5%;
    max-width: 35%;
    padding: 30px 2.3%;
  }
  .banner__home p {
    font-size: 22px;
  }
  .banner__home a {
    font-size: 24px;
  }
}
@media screen and (min-width: 1900px) {
  .banner__home p {
    font-size: 30px;
  }
  .banner__home a {
    font-size: 28px;
  }
}
