@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  margin: 0;
  padding: 0;
}

.banner__home {
  font-family: "Open Sans", sans-serif;

  .banner--slide {
    position: relative;
  }

  img {
    width: 100%;
  }

  .banner--contentContainer {
    position: absolute;
    bottom: 8%;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 35px 4%;
    text-align: center;
    margin: 0 4%;
    display: flex;
    flex-direction: column;
  }

  p {
    text-align: left;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
  }

  a {
    padding: 10px 20px;
    border: 0;
    outline: none;
    background-color: #003649;
    color: white;
    align-self: center;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;

    &:hover {
      background-color: #001922;
    }
  }

  .banner--pagination > * {
    height: 12px;
    width: 12px;
  }

  .banner--pagination > .swiper-pagination-bullet-active {
    background: #008277;
  }

  @media screen and (min-width: 481px) {
    .banner--contentContainer {
      margin: 0 4%;
      padding: 20px 4%;
    }
  }

  @media screen and (min-width: 630px) {
    p {
      font-size: 24px;
    }

    a {
      font-size: 28px;
    }
  }

  @media screen and (min-width: 769px) {
    .banner--contentContainer {
      margin: 0 4%;
      max-width: 52%;
      padding: 25px;
      bottom: 50%;
      transform: translateY(50%);
    }

    a {
      align-self: flex-start;
    }
  }

  @media screen and (min-width: 1025px) {
    .banner--contentContainer {
      left: 4.5%;
      max-width: 35%;
      padding: 30px 2.3%;
    }

    p {
      font-size: 22px;
    }

    a {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 1900px) {
    p {
      font-size: 30px;
    }

    a {
      font-size: 28px;
    }
  }
}
